/.vscode
/Memphis-Server/Properties
/Saml2.Authentication.Core
# */*.csproj
*/*.csproj.user
*/*.csproj.vspscc
*/*bin
/packages
/packages
/DGRA/bin
/obj
/DGRA_V1/bin
/DGRA_V1/obj
/DGRA_V1/LogFile

# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# NuGet packages
packages/

# Other
Thumbs.db
*.log
*.bak
*.cache
*.vspscc
*.vssscc
